*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    position: relative;
    height: 120px;
    width: 1370px;
}

.shadow{
    position: absolute;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) ;
    width: 1370px;
}

nav ul{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 200px;
    position: fixed;
    font-size: 20px;
    margin-bottom: none;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.menu-icon{
    display: ;
    position: none;
}

.menu-icon i{
    color: none;
    font-size: 30px;
}

@media only screen and (max-width: 500px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: white;
        gap: 0;
    }
    nav ul li{
        padding: 20px;
    }
    .menu-icon{
        display: block;
        position: fixed;
        margin-left: 265px;
        margin-top: 70px;
    }
    .logo{
        position: fixed;
        margin-right: 700px;
        font-size: 20px;
        margin-top: 120px;
        margin-left: -32px;
    }
    .btnn{
        margin-left: 120px;
    }
    .search{
        margin-top: -30px;
    }
}

.btnn{
    margin-bottom: 75px;
    width: 240px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
    background-color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1);
    position: ;
    
}

.btnn a{
    text-decoration: none;
    color: black;
    font-size: none;
}

.btnn a:hover{
    background: white;
}
.logo{
    margin-bottom: 50px;
    font-size: px;
    margin-left: px;
}

.menu-icon2{
    position: fixed;
    margin-top: 60px;
    font-size: 30px;
    margin-bottom: 30px;
}

.search{
    position: fixed;
    margin-left: ;
    border: none;
}

.search span{
    height: 20px;
    width: 100px;
    background: white;
}